.blog-reader-type__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.blog-reader-type__control {
  display: flex;
  flex-direction: row;
}

.blog-reader-type__control input {
  width: 1rem !important;
}
