.card {
  border: 2px solid brown;
  border-radius: 5%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 1rem 0;
  padding: 2rem;
  box-shadow: 0 3px 8px rgba(189, 5, 60, 0.25);
  background-color: #b4c3c1;
}
