.blog-theme-checkbox__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  align-items: center;
  align-content: center;
}

.blog-theme-checkbox__control {
  display: flex;
  flex-direction: row;
}

.blog-theme-checkbox__control input {
  width: 1rem;
  /* max-width: 100%; */
}
